{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}"">
{% endblock %}

{% block body %}
<div class=" container">
<div class="row">
    <div class="card">
        <div class="card-header bg-danger text-light">
            <h4>Welcome to {{ brand }}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">What is {{ brand }}?</h5>
            <p class="card-text">
                {{ brand }} is a tool that lets you upload any file to download it later.<br>
                Remember to save the key that we generate to you the time you upload the file.<br>
                <strong>If you lose the key, you'll need to upload the file again.</strong>
            </p>
        </div>
        <div class="card-footer text-muted">
            <small>Made by <a href="#">@sosolidkk</a> with ❤️</small>
        </div>
    </div>
    <div class="col">
        <div class="ml-2 p-4 text-center form upload-container">
            <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <div class="wrapper">
                        <div class="file-upload">
                            {{ form.file(class="form-control inputfile") }}
                            <i class="fa fa-arrow-up"></i>
                        </div>
                    </div>
                    <span id="file-name">Drag and drop a file here <br>or<br>
                        <label for="file" id="label-file">Browse files</label>
                    </span>
                </div>
                <div class="form-group">
                    <button type="submit" id="upload-btn" class="form-control btn btn-danger btn-sm" disabled></button>
                </div>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for type, message in messages %}
            <div class=" alert alert-{{ type }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/form.js') }}" defer></script>
{% endblock %}