html,
body {
  height: 100%;
  min-width: 360px;
  min-height: 650px;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fef8f8;
}

strong {
  background-color: #d3394c;
  color: #ffffff;
  font-weight: 800;
  padding: 1px;
}

.upload-container {
  height: 100%;
  border: 1px dotted #d3394c;
  border-radius: 5px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .file-upload {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ffffff;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #d3394c 50%, #ffffff 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #ffffff;
  font-size: 100px;
}
.wrapper .file-upload input[type='file'] {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.wrapper .file-upload:hover {
  background-position: 0 -100%;
  color: #d3394c;
}

#label-file {
  color: #ffffff;
  background-color: #d3394c;
  padding: 5px 10px;
  cursor: pointer;
}

#label-file:hover {
  color: #d3394c;
  background-color: #ffffff;
}

.btn-sm {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800;
  color: #ffffff;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
