{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('index.static', filename='css/form.css') }}"">
{% endblock %}

{% block body %}
<div class=" container h-100">
<div class="row h-100 justify-content-center align-items-center">
    <div class="card-group w-75">
        <div class="card">
            <div class="card-header text-light">
            </div>
            <div class="card-body">
                <h5 class="card-title">What is {{ brand }}?</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in leo a leo ultrices ullamcorper.
                    In<br>
                    hac habitasse platea dictumst. Donec sit amet lacus in diam vulputate tincidunt. Vivamus sit
                    amet<br>
                    sapien ligula. Donec sagittis vitae erat at laoreet. Vestibulum nulla nisi, dictum eu odio in,<br>
                </p>
                <hr>
            </div>
            <div class="card-footer text-muted"> <small>Made by <a href="#">@sosolidkk</a> with ❤️</small>
            </div>
        </div>
        <div class="card ew">
            <div class="card-header text-light"></div>
            <div class="card-body text-center">
                {% include "sub_templates/_flash.html" %}
                {% include "sub_templates/_sign_in.html" %}
                <hr>
                <div class="text-left">
                    <small><a href="{{ url_for('index.sign_up') }}" class="">Create an account</a></small><br>
                    <small><a href="#" class="">Forgot your password?</a></small>
                </div>
            </div>
            <div class="card-footer text-muted text-right">
                <small>&copy; {{ brand }} 2020-2020</small>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}